<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Mark</th>
    <th>Result</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of students">
    <td>{{student.id}}</td>
    <td>{{student.name}}</td>
    <td>{{student.age}}</td>
    <td>{{student.mark}}</td>
    <td *ngIf="student.mark >= 5">Pass</td>
    <td *ngIf="student.mark < 5">Fail</td>
    <td>
      <a class="btn btn-warning" ngbTooltip="Detail" placement="bottom"
         [routerLink]="['detail/', student.id]"><fa-icon [icon]="faInfoCircle"></fa-icon></a>
      <button class="btn btn-danger" ngbTooltip="delete"
              style="margin-left: 5px" (click)="open(content, student)"><fa-icon [icon]="faTrashAlt"></fa-icon></button>
      <a class="btn btn-warning" ngbTooltip="Edit" placement="bottom"
         style="margin-left: 5px" [routerLink]="['edit/', student.id]"><fa-icon [icon]="faEdit"></fa-icon></a>
    </td>
  </tr>
  </tbody>
</table>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header" style="background-color: cadetblue">
    <h4 class="modal-title" id="modal-basic-title">Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <h4>Are you sure to delete <span style="color: red">{{studentNameDelete}}</span> ?</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Yes</button>
  </div>
</ng-template>
