<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Delete BLog</h3>
<h2>Are you sure?</h2>
<p>
    <a href="/">BLog list</a>
</p>
<div id="form">
    <form th:action="@{/delete}" th:object="${blog}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td>Blog Name:</td>
                <td><input type="text" disabled th:field="*{blogName}"/></td>
            </tr>
            <tr>
                <td>Title Blog:</td>
                <td><input type="text" disabled th:field="*{titleBlog}"/></td>
            </tr>
            <tr>
                <td>Type Blog:</td>
                <td><input type="text" disabled th:field="*{typeBlog}"/></td>
            </tr>
            <tr>
                <td>Blog Writer:</td>
                <td><input type="text" disabled th:field="*{blogWriter}"/></td>
            </tr>
            <tr>
                <td>Content:</td>
                <td><input type="text" disabled th:field="*{content}"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Delete"></td>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>