<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Product detail</h3>
<p>
    <a href="/">Back to market</a>
</p>
<div id="form">
    <form th:object="${product}">
        <table id="product">
            <tr>
                <td>Product Id:</td>
                <td><input type="text" disabled th:field="*{id}"/></td>
            </tr>
            <tr>
                <td>Product Name:</td>
                <td><input type="text" disabled th:field="*{nameProduct}"/></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="text" disabled th:field="*{price}"/></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input type="text" disabled th:field="*{description}"/></td>
            </tr>
            <tr>
                <a class="btn btn-primary"
                   th:href="@{/order/{id}(id=${product.id})}"
                   role="button" style="margin-left: 20%">Order</a>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>