<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<div th:replace="/layout :: navbar"></div>
<h3>Contract List</h3>
<!--<form th:action="@{/employee/search}" method="Post">-->
<!--    <input type="text" name="employeeName" placeholder="Search By Name">-->
<!--    <button type="submit" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">-->
<!--        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>-->
<!--    </svg></button>-->
<!--</form>-->
<br/>
<div class="notify">
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>
<table id="customer">
    <thead>
    <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Deposit</th>
        <th>Total</th>
        <th>Customer</th>
        <th>Employee</th>
        <th>Service</th>
        <th>Attach Service</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contract : ${contracts}">
        <td th:text="${contract.getStartDateContract()}"></td>
        <td th:text="${contract.getEndDateContract()}"></td>
        <td th:text="${contract.getDeposit()}"></td>
        <td th:text="${contract.getTotal()}"></td>
        <td th:text="${contract.getCustomer().customerCode}"></td>
        <td th:text="${contract.getEmployee().employeeName}"></td>
        <td th:text="${contract.getService().serviceId}"></td>
        <td>
            <div th:if="${contract.contractDetails}">
                <div th:each="contractDetail : ${contract.contractDetails}">
                    <p th:text="${contractDetail.attachService.nameAttachService} +' quantity:'+ ${contractDetail.quantity} "></p>
                </div>
            </div>
            <div th:if="${contract.contractDetails.isEmpty()}">
                <p>Not available </p>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<nav aria-label="page-nav">
    <ul class="pagination">
        <li th:class="${contracts.hasPrevious()}? 'page-item': 'page-item disabled'">
            <a class="page-link" th:tabindex="${contracts.hasPrevious()}? 0 :1"
               th:href="@{/contract/list?page=__${contracts.number -1}__}">Previous</a>
        </li>
        <li class="page-item" th:if="${contracts.hasPrevious()}">
            <a class="page-link" th:href="@{/contract/list?page=__${contracts.number -1}__}"
               th:text="${contracts.number}"></a>
        </li>
        <li class="page-item active">
            <a class="page-link" th:href="@{/contract/list?page=__${contracts.number}__}"
               th:text="${contracts.number+1}"></a>
        </li>
        <li class="page-item" th:if="${contracts.hasNext()}">
            <a class="page-link" th:href="@{/contract/list?page=__${contracts.number +1}__}"
               th:text="${contracts.number+2}"></a>
        </li>
        <li th:class="${contracts.hasNext()}? 'page-item': 'page-item disabled'">
            <a class="page-link" th:tabindex="${contracts.hasNext()}? 0 :1"
               th:href="@{/contract/list?page=__${contracts.number +1}__}">Next</a>
        </li>
    </ul>
</nav>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>