<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<div th:replace="/layout :: navbar"></div>
<div id="top_section" class=" banner_main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container-fluid">
                                <div class="carousel-caption relative">
                                    <div class="bluid">
                                        <h1>FURAMA RESORT & VILLAS ĐÀ NẴNG </h1>
                                        <p>Giữa lòng thành phố Đà Nẵng, khu nghỉ dưỡng Furama Resort & Villas Đà Nẵng hiện lên
                                            tựa một 'ốc đảo xanh'
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container-fluid">
                                <div class="carousel-caption relative">
                                    <div class="bluid">
                                        <h1>FURAMA RESORT & VILLAS ĐÀ NẴNG</h1>
                                        <p>Và rồi khi dừng chân tại nơi đây, bạn tựa như lạc vào một không gian mang đậm đà nét văn
                                            hóa
                                            Việt pha lẫn với sự hiện đại </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container-fluid">
                                <div class="carousel-caption relative">
                                    <div class="bluid">
                                        <h1>FURAMA RESORT & VILLAS ĐÀ NẴNG</h1>
                                        <p>Xứng tầm đẳng cấp 5 sao quốc tế.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>